 <div class="banner-create">
      <div class="banner-content">
        <h1 class="text-center create-account-header">TeeMates</h1>

        <!-- <form class="form login-form">
            <div class="form-group">
              <label for="email-login">email:</label>
              <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
              <label for="password-login">password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">login</button>
            </div>
          </form> -->
      </div>
      <div class="row login-form">
        <h5 class="margin-auto">Create an account</h5>

        <form class="col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_box</i>
            <input id="icon_prefix" type="text" class="validate" />
            <label for="icon_prefix">User Name</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate" />
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
          <div class="form-group">
            <button
              class="btn waves-effect waves-light margin-auto d-block"
              type="submit"
              name="action"
            >
              Sign Up <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>

<script src="./js/login.js"></script>
