<div class="banner valign-wrapper">

  <div class="banner-content">
    <h1 class="text-center loginTitle text-white"></h1>
      <div class="row login-form">
        <form class="col s12 loginForm" id="loginForm">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="email-login" name="email" type="email" class="validate" required>
              <label for="email-login">Email Address</label>
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input id="password-login" name="password" type="password" class="validate" required>
              <label for="password-login">Password</label>
            </div>

            <div class="col s12">
              <p class="text-center register-text">Don't have an account? <a href="/signup">Register one now!</a></p>
            </div>
            <button class="btn waves-effect waves-light margin-auto d-block" type="submit" name="action">Log In
              <i class="material-icons right">send</i>
            </button>
        </form>
      </div>

  </div>
</div>


<script src="/js/login.js"></script>
