<div class="container main-content">
  <h2 class="margin-auto text-center">My Tee Times</h2>
  <div class="divide-line"></div>

  <div class="result-section">
    <ul class="result-list row">

      {{#each myteetimes }}
      {{> myteetimeDetails}}
      {{/each}}

    </ul>
  </div>

</div>