<div class="container main-content">
  <div class="submit-section">
    <form class="submit search-form">
      <div class="row">

        <div class="input-field col s12 m6">
          <select>
            <option value="" disabled selected>Select the course</option>
            <option value="Augusta National">Augusta National</option>
            <option value="Cypress Point Club">Cypress Point Club</option>
            <option value="Merion Golf Club">Merion Golf Club</option>
            <option value="Pine Valley">Pine Valley</option>
            <option value="Shinnecock Hills Golf Club">Shinnecock Hills Golf Club</option>
            <option value="Winged Foot Golf Club ">Winged Foot Golf Club </option>
          </select>
        </div>
        <div class="input-field col s12 m6">
          <select>
            <option value="" disabled selected>Select handicap</option>
            <option value="20+">20+</option>
            <option value="10-19">10 - 19</option>
            <option value="0-9">0 - 9</option>
          </select>
        </div>

        <input type="text" class="datepicker col s6 m3" placeholder="Choose date">
        <input type="text" class="timepicker col s6 m3" placeholder="Choose time">

        <button class="btn waves-effect waves-light margin-auto d-block col" type="submit" name="action">Search
          <i class="material-icons right">submit</i>
        </button>
      </div>
    </form>
  </div>