<div class="container main-content">
  <div class="searching-section">
    <form class="searching-bar search-form">
      <div class="row">

        <div class="input-field col s12 m6 course">
          <select>
            <option value="" disabled selected>Select the course</option>
            <option value="Augusta National">Augusta National</option>
            <option value="Cypress Point Club">Cypress Point Club</option>
            <option value="Merion Golf Club">Merion Golf Club</option>
            <option value="Pine Valley">Pine Valley</option>
            <option value="Shinnecock Hills Golf Club">Shinnecock Hills Golf Club</option>
            <option value="Winged Foot Golf Club">Winged Foot Golf Club</option>
          </select>
        </div>

        <input type="text" class="datepicker col s6 m3" placeholder="Choose date">

        <button class="btn waves-effect waves-light margin-auto d-block col" type="submit" name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </div>
    </form>
  </div>

  <div class="divide-line"></div>

  <div class="result-section">
    <ul class="result-list row">
      {{test}}
      {{#each teetimes }}
      {{> searchingResult}}
      {{/each}}

    </ul>
  </div>

</div>

<script src="/js/searching.js"></script>