@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
} */

a:hover{
  text-decoration: none;
}

body{
  position: relative;
}

.wrap{
  /* min-height: 100vh; */
  overflow: hidden;
  /* background: rgba(145, 145, 145, 0.648); */
  background: url(https://i.imgur.com/MJzWTtP.jpg) no-repeat center;
  background-size: cover;
}

header{
  z-index: 100;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.d-block{
  display: block;
}

.margin-auto{
  margin: 0 auto;
}

.form-header{
  margin: 0px auto 75px;
}

.login-form{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5% 5%;
  border-radius: 10px;
  color: #fff !important;
}

.banner{
  background-image: url(https://i.imgur.com/TGAr7e9.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
  padding: 0 25px;
}

.banner-content{
  width: 650px;
}

.loginTitle{
  margin-top: 0;
  font-family: 'Rancho','Poppins', cursive;
  font-size: clamp(4rem, 10vw, 7rem);
  /* font-size: 5vw; */
  word-spacing: 1rem;
  letter-spacing: 0.4rem;
}

.banner-content form button{
  font-size: 12px;
  margin-top: 15px;
}

.banner-content form input{
  color: #fff;
  font-size: 18px !important;
}

/* input:-internal-autofill-selected{
  background-color: transparent !important;
} */


.register-text{
  font-size: clamp(1rem, 3vw, 1.3rem);
  margin: 20px 0 30px 0;
}

.register-text a:hover{
  color: rgb(0, 215, 165);
}

.fixed{
  position: fixed;
  width: 100%;
  top: 0;
}

nav{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
}

.sidenav-overlay{
  z-index: 90;
}


.page-footer{
  background-color: rgba(0, 0, 0, 0.6);
}

.main-content{
  margin-top: 80px;
  min-height: calc(100vh - 80px)
}

.input-field{
  margin: 0;
}

.main-content .btn{
  background-color: rgb(0, 145, 202);
}

.main-content .row{
  align-items: center;
  margin-bottom: 0;
}

.searching-section{
  padding: 10px 0;
  border-radius: 10px;
  background: rgba(135, 135, 135, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px 0.5px rgb(134, 134, 134);
}

.glass-blur{
  background: rgba(135, 135, 135, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px 0.5px rgb(134, 134, 134);
  backdrop-filter: blur(5px);
}

.datepicker::placeholder{
  color: rgb(134, 134, 134);
}

.divide-line{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  /* position: absolute; */
  width: 100%;
  transform: scaleX(1.2);
  margin: 30px 0;
  position: relative;
}

.divide-line::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  left: 50%;
  top: 1px;
  transform: translateX(-50%);
}

.result-list{
  justify-content: center;
}

.result-list li{
  margin-left: 0 !important;
}

.card .card-action{
  padding: 0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
  margin-right: 0;
  display: block;
  padding: 15px 0;
  transition: 0.15s ease-in-out;
  color: rgb(247, 111, 38);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
  color: rgb(233, 58, 58) ;
  font-weight: 600;
  transform: scale(1.1);
}

.card{
  border-radius: 15px;
  overflow: hidden;
  border-right: 1px solid rgba(130, 130, 130, 0.5);
  border-bottom: 1px solid rgba(130, 130, 130, 0.5);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.custom-text{
  display: flex;
  justify-content: space-between;
}

.bground-signup{
  background-image: url(https://i.imgur.com/ZljwjlX.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
  padding: 0 25px;
}

.create-account-header{
  color: #fff;
}

.logo {
  font-family: 'Rancho','Poppins', cursive;
  font-size: clamp(4rem, 10vw, 7rem);
  letter-spacing: 0.4rem;
}